extends partials/detail-layout



block central
  div(data-bind="visible: !selectedPlace()")
    div.well.well-lg
      div#editor
        table.table
          tr
            td.button-row(colspan=2) 
              button.btn#btn-add-place
                span.glyphicon.glyphicon-plus
              button.btn#btn-remove-plan
                span.glyphicon.glyphicon-remove
          tr
            td.caption Title
            td(colpan=2)
              input.edit(data-bind="value:plan.title")
          tr
            td.caption Long description
            td
              textarea.edit(data-bind="value:plan.description")


  div(data-bind="if:selectedIsPlace")
    div.well.well-lg(data-bind="with:selectedPlace")
      div#editor
        table.table
          tr
            td.button-row(colspan=2) 
              button.btn#btn-remove-place(data-bind="click:$root.movePlaceUp")
                span.glyphicon.glyphicon-chevron-up
              button.btn#btn-remove-place(data-bind="click:$root.movePlaceDown")
                span.glyphicon.glyphicon-chevron-down
              button.btn#btn-remove-place(data-bind="click:$root.removePlace")
                span.glyphicon.glyphicon-remove
          tr
            td Location
            td
              input.edit(data-bind="value:name")
              span &nbsp;
              button.btn.btn-info#btn-lookup(data-target="#location-lookup-modal", data-toggle="modal") ...
          tr
            td Geo location
            td
              input(data-bind="value:latlng()[0]")
              input(data-bind="value:latlng()[1]")
          tr
            td Number of nights
            td
              input(data-bind="value:days")
          tr
            td Description
            td
              textarea.edit(data-bind="value:description")
          tr
            td Sights
            td
              //div(data-bind="text: ko.toJSON(sights)")
              div(data-bind="template:{name:'sight-list', data:$data.sights}")
          tr
            td
            td 
              button.btn.btn-primary#btn-done(onclick="TPHQ.select(null);") Done

  div(data-bind="if:selectedIsTravel")
    div.well.well-lg(data-bind="with:selectedPlace")
      div#editor
        table.table
          tr
            td
            td
            | Here the editor for the travel step
          tr
            td Mode of transportation
            td
              div.btn-group
                button.btn(data-bind="css:$data.buttonModeClass('plane'), click:function(){setMode('plane')}", title="plane") 
                  span.glyphtphq.glyph-plane
                button.btn(data-bind="css:$data.buttonModeClass('car'), click:function(){setMode('car')}", title="car") 
                  span.glyphtphq.glyph-car
                button.btn(data-bind="css:$data.buttonModeClass('bus'), click:function(){setMode('bus')}", title="bus")
                  span.glyphtphq.glyph-bus
                button.btn(data-bind="css:$data.buttonModeClass('train'), click:function(){setMode('train')}", title="train") 
                  span.glyphtphq.glyph-train
                button.btn(data-bind="css:$data.buttonModeClass('bicycle'), click:function(){setMode('bicycle')}", title="bicycle")
                  span.glyphtphq.glyph-bicycle
                button.btn(data-bind="css:$data.buttonModeClass('motorcycle'), click:function(){setMode('motorcycle')}", title="motorcycle")
                  span.glyphtphq.glyph-motorcycle
                button.btn(data-bind="css:$data.buttonModeClass('boat'), click:function(){setMode('boat')}", title="boat")
                  span.glyphtphq.glyph-boat
                button.btn(data-bind="css:$data.buttonModeClass('walk'), click:function(){setMode('walk')}", title="walk")
                  span.glyphtphq.glyph-walk
                button.btn(data-bind="css:$data.buttonModeClass('rocket'), click:function(){setMode('rocket')}", title="rocket")
                  span.glyphtphq.glyph-rocket
          tr
            td Description
            td
              textarea.edit(data-bind="value:description")
          tr
            td Sights along the way
            td
              //div(data-bind="text: ko.toJSON(sights)")
              div(data-bind="template:{name:'sight-list', data:$data.sights}")
          tr
            td
            td 
              button.btn.btn-primary#btn-done(onclick="TPHQ.select(null);") Done


  div 
    button.btn#btn-save-plan(data-bind="attr:{'class': ($data.dirty() ? 'btn btn-primary' : 'btn disabled' )}", data-content="Saved", data-placement="right") Save plan

  div.modal.fade#location-lookup-modal
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
          h4.modal-title Select a known location
        div.modal-body
          input#location-lookup-entry
        div.modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
          button.btn.btn-primary#btn-select-location(type="button", data-dismiss="modal") Save changes

  div.modal.fade#sight-lookup-modal
    div.modal-dialog
      div.modal-content
        div.modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
          h4.modal-title Select sights you saw (or plan to see)
        div.modal-body
          input#sight-lookup-entry
        div.modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
          button.btn.btn-primary#btn-select-sight(type="button", data-dismiss="modal") Save changes

block initScript
  script
    = 'var access = \'' + model.access + '\''
  script.
    TPHQ.initPlanEdit('plan.json?' + (new Date()).getTime(), access);

