/*!
 */
body
{
  padding-top:30px;
  padding-left:30px;
  padding-right:30px;
}
.badge {
  background-color:#428bca;
}
nav .plan-detail {
  display:none;
}
nav.navbar-default {
  background-color: #cad8db;
}
a.list-group-item:hover {
  background-color:#cad8db ;
}
a.list-group-item>.badge-container {
  float:right;
}
a.list-group-item.travel-item:hover {
  background-color:#fff;
}
a.list-group-item.travel-item:hover>.travel-glyph {
  background-color:#cad8db;
}
.travel-glyph {
  width:40px;display:block;margin-left:20px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align:center;
}
.travel-item {
  border-left: none;
  border-right:none;
  padding: 0 0 0 0;
}


/* Map */
#map { top:0; bottom:0; width:100%;height:600px; }

/* Editor */

